<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/global.css">
    <title>{{template "title"}}</title>
</head>
<body>
<div class="header-layout">
    <h1 style="margin-top: 0px; text-align: center; vertical-align: middle; color: white;">crumbmaster</h1>
</div>
    {{template "body"}}
</body>
</html>